<head>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.16.0/themes/prism.css" rel="stylesheet"/>
  <title>pagination</title>
</head>

<p>Default pagination:</p>
<ngb-pagination [(page)]="page" [collectionSize]="items.length" [pageSize]="pageSize"
                aria-label="Default pagination"></ngb-pagination>
{{page}}
<table>
  <tr *ngFor="let item of items | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
    {{item}}
  </tr>
</table>
Page:{{page}}
PageSize:{{pageSize}}

<router-outlet></router-outlet>
